version: '3.8'

services:
  db:
    image: postgres:15.0-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    ports:
      - "5432:5432"
    env_file:
      - .env
  
  bot:
    build: .
    restart: always
    depends_on:
      - db
    env_file:
      - .env
    command: python3 main.py

  scheduler:
    build: .
    restart: always
    command: python3 -m scheduler.scheduler
    depends_on:
      - db
      - bot
    env_file:
      - .env

volumes:
  postgres_data: