name: Satire Pulp parser

on:
  push:
    branches:
      - "**"
  pull_request:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Upgrade pip
        run: python -m pip install --upgrade pip

      - name: Install Dependencies
        run: pip install -r requirements.txt
      
      - name: Isort Check
        run: isort --check .

      - name: Black Check
        run: black --check .

      - name: Flake8 Check
        run: flake8 .

  tests:
    name: Pytest
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Upgrade pip
        run: python -m pip install --upgrade pip

      - name: Install Dependencies
        run: pip install -r requirements.txt

      - name: Run Pytest
        run: pytest -v

  push_branch_dev_to_docker_hub:
    name: Build and Push Docker(dev)
    runs-on: ubuntu-latest
    needs: lint

    if: github.ref == 'refs/heads/dev'

    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push to Docker Hub
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: |
            dmsn/satire_pulp_parser:dev

  push_branch_main_to_docker_hub:
    name: Build and Push Docker(prod)
    runs-on: ubuntu-latest
    needs: lint

    if: github.ref == 'refs/heads/main'

    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push to Docker Hub
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: |
            dmsn/satire_pulp_parser:prod
